body {
  margin: 0; 
  height: 100vh; 
  background-image: url('image.jpg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  font-family: Arial, sans-serif;
}

nav {
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 5px;
  height:3%   ;     
  margin: 0 auto;     
  border-radius: 10px; 
}


nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  color: #c0a6d7;
  text-align: center;
  font-size: 3rem;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  margin-top: 50px;
}

h2 {
  color: #9b75bd; 
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

button {
  background-color: #ceb1e7; 
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  margin: 10px auto;
  display: block; 
}

button:hover {
  background-color: #8254b3; 
  transform: scale(1.05);
}

.connexion-form input[type="text"],
.connexion-form input[type="email"],
.connexion-form input[type="password"] {
  width: 70%;
  padding: 12px 15px;
  margin: 8px 0;
  border: 2px solid #9b75bd;
  border-radius: 8px;
  font-size: 1.2rem;  
  color: #4b2e83;    
  outline: none;
  transition: 0.3s;
}

.connexion-form input[type="text"]:focus,
.connexion-form input[type="email"]:focus,
.connexion-form input[type="password"]:focus {
  border-color: #8254b3;
  box-shadow: 0 0 6px rgba(155, 117, 189, 0.5);
}

.connexion-form input[type="submit"] {
  background-color: #ceb1e7;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  margin-top: 15px;
  display: block;
}

.connexion-form input[type="submit"]:hover {
  background-color: #8254b3;
  transform: scale(1.05);
}


table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background: linear-gradient(135deg, #f3e5f5, #d1c0e0); 
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

table th, table td {
  padding: 12px 15px;
  text-align: left;
  color: #4b2e83;
}

table th {
  background-color: rgba(155, 117, 189, 0.8); 
  color: white;
}

table tr:nth-child(even) {
  background-color: rgba(255,255,255,0.4); 
}


.grand-texte {
  

  font-size: 1rem;        
  text-align: center;     
  color: #4b2e83;         
  line-height: 1.5;       
  margin: 10px auto;      
  max-width: 80%;         

  line-height: 1.8;
}

legend {
  font-size: 1.5rem;
  font-weight: bold;
  color:#4b2e83 ;
  margin-bottom: 15px;
  text-align: center;
}






